<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改博客</title>
</head>
<body>
    <h1>Update Blog</h1>
    <form th:action="@{/updateBlog}" method="post">
        <input type="hidden" name="id" th:value="${blog.getId()}">
        博客内容<input type="text" name="content" th:value="${blog.getContent()}">
        <br/>
        博客分类<input type="text" name="category" th:value="${blog.getCategory()}">
        <br/>
        发布时间<input type="text" readonly th:value="${#dates.format(blog.getTime(),'yyyy-MM-dd HH:mm:ss')}">
        <br/>
        <button>提交修改</button>
    </form>
</body>
</html>